[user]
	name = Xin Yang
	email = Xin2.Yang@gmail.com
[core]
	autocrlf = false
	safecrlf = false
	editor = emacsclient -nt
[i18n]
	commitencoding = utf-8
	logoutputencoding = gbk
[gui]
	encoding = utf-8
[magit]
	extension = wip-save
